<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>adblassetmanagementproject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OperationController</display-name>
    <servlet-name>OperationController</servlet-name>
    <servlet-class>com.adbl.controller.OperationalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationController</servlet-name>
    <url-pattern>*.adbl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddController</display-name>
    <servlet-name>AddController</servlet-name>
    <servlet-class>com.adbl.controller.AddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddController</servlet-name>
    <url-pattern>*.add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.adbl.controller.DeletionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>*.del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavigationController</display-name>
    <servlet-name>NavigationController</servlet-name>
    <servlet-class>com.adbl.controller.NavigationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavigationController</servlet-name>
    <url-pattern>*.click</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>CheckController</display-name>
    <servlet-name>CheckController</servlet-name>
    <servlet-class>com.adbl.controller.CheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckController</servlet-name>
    <url-pattern>*.check</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>FileUploadController</display-name>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>com.adbl.controller.FileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>*.upload</url-pattern>
  </servlet-mapping>
</web-app>